<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hachi</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-secondary">
        <a class="navbar-brand" asp-action="Index" asp-controller="Home">Hachi</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link">Order History</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-controller="Categories" asp-action="Index">Category Type</a>
                        <a class="dropdown-item" asp-controller="SubCategories" asp-action="Index">Sub Category</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="MenuItems" asp-action="Index">Menu Item</a>
                        <a class="dropdown-item" href="#">Coupons</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Order
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Manage Order</a>
                        <a class="dropdown-item" href="#">Order Pikup</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Order Details</a>
                    </div>
                </li>
                <li style="color:white;">
                    <a href="#" class="nav-link">
                        <i class="fas fa-cart-plus"></i>
                        (0)


                    </a>
                </li>
            </ul>

        </div>
        <div class="form-inline">
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        <br />
        @RenderBody()

        <hr />
        <br />
    </div>
    <footer class="footer">
        <div class="cont">
            <p>&copy; 2018 - Hachi</p>

        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
        <link href="~/lib/DataTables/datatables.css" rel="stylesheet" />
        <script src="~/lib/DataTables/datatables.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#tablefillset').DataTable(
                    {
                        "language": {
                            "infoEmpty": "Data null",
                            "emptyTable": "Null Data",
                            "processing": "Access...",
                            "search": "Search:",
                            "loadingRecords": "load...",
                            "zeroRecords": "Data cannot find",
                            "paginate": {
                                "first": "|<",
                                "last": ">|",
                                "next": ">>",
                                "previous": "<<"
                            }
                        },
                        "lengthMenu": [[5, 10, 15, 20, 25, 30, -1], [5, 10, 15, 20, 25, 30, "All"]]
                    }
                );
            });
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
